div.tab {
    overflow: hidden;
    border: 1px solid #ccffcc;
    background-color: #ccffcc;
    font-family: 'Quicksand', sans-serif;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Quicksand', sans-serif;
}

div.tab button:hover {
    background-color: #66ff99;
    font-family: 'Quicksand', sans-serif;
}

div.tab .active {
    background-color: #66ff99;
    font-family: 'Quicksand', sans-serif;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccffcc;
    border-top: none;
    font-family: 'Quicksand', sans-serif;
}

body {
  font-family: 'Quicksand', sans-serif;
}